* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;

}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

#header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    border: 5px solid;
    margin: 10px;
    
    font-weight: bolder;
}

#row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 25%;
    border: 5px solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#col1 {
    background-color: rgb(255, 255, 255);

}

#col2 {
    background-color: rgb(255, 255, 255);
}

#col3 {
    background-color: rgb(255, 255, 255);
}


#footer {
    background-color: rgb(255, 255, 255);
    /* padding: 10px; */
    text-align: center;
    color: cornsilk;
    /* margin: 10px; */
}
.flex-image{
    max-width: 57%;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    
}


/* -----optimised for tablet */
@media (max-width: 900px) {
    .column{
        min-width: 50%;
    }
    .flex-image{
        min-width: 50%;
    }
}
/* 
-----optimised for mobile */
@media (max-width: 500px) {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    #row {
        flex-direction: column;
    }
}




